/* movil4 */


@media only screen and (max-width: 767px) and (orientation: portrait)

{
body {background-image: url(web-resol/skylinede.jpg);
	background-repeat: no-repeat;
	margin:0;
	padding:0;	
	font-family: 'Minion Pro';
	font-size: 30px;
	position:absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
}	



#hmenu{
	display: inline-block;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	width: 290px;
	height: 400px;
	position: absolute;
	top: 0;
	left: -300px;
	background-color: #FFFCAD;
	overflow: hidden;
	transition: 1s;
	}

#abre{
	display: inline
	margin-top: -10px;
	}




#hmenu > li {display:block;
margin-bottom: -10px;}




#hmenu > li >a{
	display:block;
	padding: 15px 10px;
	font-size: 18px;
	text-decoration: none
	}


	
	li ul {
		position: absolute;
		display:none;
		top:10px;
	}
	


.sub-menu a{
	text-decoration: none;
	

	}

.sub-menu li{
	display:block;
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: -0px;
	margin-left:50px;
	background-color: #A3E4D7;
	box-shadow: 10px 10px 10px #999;
	text-decoration: none;
	}


li:hover ul{
	display:block;}
	

#info{
font-size:17px;
line-height:20px;
}

	


	#contacte
	{text-align: center;		
		font-size: 13px;
		margin-left: 10px;
		margin-top: 300px;
		padding-right: 3px;
		background-color: #A3E4D7;
		padding-top: 0px;
		float: left;
	}


	#texto{font-size:15px;
	}

#logo{
	background-image: url(web-resol/logoti4.gif);
	background-repeat:no-repeat;
	height: 70%;
	width: 100%;
	margin-top: -5%;
	margin-right: 50%;
	
	}

}





@media only screen and (max-width: 767px) and (orientation: landscape)

{
	body {background-image: url(web-resol/skylinede.jpg);
	background-repeat: no-repeat;
	margin:0;
	padding:0;	
	font-family: 'Minion Pro';
	font-size: 30px;
	position:absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
}



#hmenu{
	display: inline-block;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	width: 200px;
	height: 400px;
	position: absolute;
	top: 0;
	left: 0px;
	background-color: #EAFAF1;
	overflow: hidden;
	transition: 1s;
	}




#abre{
	display: inline
	margin-top: -20px;
	}




#hmenu > li {display: block;
margin-bottom: -10px;}




#hmenu > li >a{
	display:block;
	padding: 15px 10px;
	font-size: 14px;
	text-decoration: none;

	}


	
	li ul {
		position: absolute;
		display:none;

		}
	


.sub-menu a{
	
	text-decoration: none;
	}



.sub-menu li{
	display:block;
	font-size: 16px;
	margin-top: -10px;
	margin-bottom: 10px;
	margin-left:5%;
	background-color: #A3E4D7;
	box-shadow: 10px 10px 10px #999;
	text-decoration: none;
	}





li:hover ul{
	display:block;}
	

#texto{font-size:15px;
	}



#info{
font-size:17px;
line-height:20px;
}


	#contacte
	{text-align: center;		
		font-size: 13px;
		margin-left: 280px;
		margin-top: -10px;
		padding-right: 20px;
		background-color: #A3E4D7;
		
		
	}


#logo{
	background-image: url(web-resol/logoti4.gif);
	background-repeat:no-repeat;
	height: 80%;
	width: 70%;
	margin-top: -100%;
	margin-right: 30%;
	
	}




}





