/* pantalla4 */





@media only screen and (min-width: 768px) and (orientation: portrait)

{
body {
	background-image: url(web-resol/skylinede.jpg);
	background-repeat: no-repeat;
	margin:0;
	padding:0;	
	font-family: 'Minion Pro';
	font-size: 20px;
	position: absolute;
	top:0;
	right:0;
	bottom:0;
	overflow-x: auto;
}
	

	#abre{display: none;}

	#tanca  {display: none;}



	#menu-nav {
	font-size: 16px;
	font-weight: bold;
	}

	#menu-nav ul {

		padding: 0;
		list-style: none;
	}

	

	#menu li {
		display: inline-block;
	}

	


	#hmenu {background-color:#FFFACD;
		display: block;
		height: 80px;
		margin:0;
		padding: 0;
	}

	#hmenu > li {
		margin-right: 50px;
		display: inline-block;
		margin-top: 10px;
		margin-left: 20px;
		padding:5px;
		position: relative;
		}

	#hmenu li a {
		text-decoration:none;
		}

	li ul {
		position: absolute;
		top: 60px;
		display:none;
		}
	
	li:hover ul{
		position: absolute;
		top:0;
		display:block;
	}

	.sub-menu {
		background-color: #A3E4D7;
		box-shadow: 10px 10px 10px #999;
		}

	.sub-menu li {
		display: block;
		}

	.sub-menu a {
		margin: 10px 0;
		height: 40px;
		background-color: #A3E4D7;
		text-decoration: none;
		}


		#info{margin-left:60%;}



	#contacte {
		text-align: center;	
		margin: 10px;
		font-size: 15px;	
		background-color: #A3E4D7;
		width:40%;
		margin-right:5px;
		margin-top:530px;

		
		}
	
	#logo{
	background-image: url(web-resol/logoti4.gif);
	background-repeat:no-repeat;
	height: 40%;
	width: 40%;
	margin-top: -140%;
	margin-right: 50%;
	
	}

	
	#texto {font-size: 20px;}

}






@media only screen and (min-width: 768px) and (orientation: landscape)

{
	body {
	background-image: url(web-resol/skylinede.jpg);
	background-repeat: no-repeat;
	margin:0;
	padding:0;	
	font-family: 'Minion pro';
	font-size: 20px;
	position: absolute;
	top:0;
	right:0;
	bottom:0;
	overflow-x: auto;

}



	#menu-nav {

		font-size: 16px;
		font-weight: bold;
		width: 100%;
		margin: 0 auto;
	}



	#menu-nav ul {
		padding: 0;
		list-style: none;
	}	

	
	#hmenu li {
		display: inline-block;		
	}
	
	#tanca{
		display: none;
	}
	
	#abre{
		display: none;
	}
	


	#hmenu {background-color:#FFFACD;
		display: block;
		height: 50px;
		margin:0px;
		padding: 0px;

	}

	#hmenu > li {
		margin-right: 50px;
		display: inline-block;
		margin-top: 10px;
		margin-left: 20px;
		padding:5px;
		position: relative;
		}

	#hmenu li a {
		text-decoration:none;
		}

	li ul {
		position: absolute;
		top: 60px;
		display:none;
		}
	
	li:hover ul{
		position: absolute;
		top:0;
		display:block;
	}

	.sub-menu {
		background-color: #A3E4D7;
		box-shadow: 10px 10px 10px #999;
		}

	.sub-menu li {
		display: block;
		}

	.sub-menu a {
		margin: 10px 0;
		height: 40px;
		background-color: #A3E4D7;
		text-decoration: none;
		}


	#info{margin-left:60%;}


	#contacte {
		text-align: center;		
		font-size: 14px;
		margin-right: 5px;
		margin-top: 28%;
		padding-right: 20px;
		background-color: #A3E4D7;
		padding-top: 0px;
		float: right;

	}


	#contacte a{text-decoration: none}

	#logo{
	background-image: url(web-resol/logoti4.gif);
	background-repeat:no-repeat;
	height: 40%;
	width: 40%;
	margin-top: -29%;
	margin-left: 70%;
	
	}



	#texto {font-size: 20px;
		margin-right:60%;}





}